*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(5, 5, 47);
    
}

#grid{
    background-color: lightgray;
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.bg-blue{
    background-color: rgb(16, 63, 184);
    color: white;
    cursor: pointer;
}
